@model Telefon_Rehberi.Areas.Admin.Models.Giris.GirisViewModel
@{
    ViewBag.Title = "Giriş";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-6 mx-auto text-left">
        @if (TempData["Alert"] != null)
        {
            @Html.Raw(TempData["Alert"].ToString())
        }

        <div class="card rounded-0">
            <div class="card-header">
                <h3 class="mb-0">Admin UI Giriş</h3>
            </div>
            <div class="card-body">
                @using (Html.BeginForm("Index", "Giris"))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        <label for="pass">Şifre</label>
                        @Html.TextBoxFor(model => model.Pass, new { @class = "form-control form-control-lg rounded-0 col-md-12", type = "password", name = "pass", id = "pass", placeholder = "Şifre", required = "" })
                        <div class="invalid-feedback">Bunu doldurmayı unuttunuz.</div>
                    </div>
                    <div>
                        <span class="small text-dark">Default Şifre: <i>bgoktugozdemir</i></span>
                    </div>
                    <button type="submit" class="btn btn-success btn-lg float-right" id="btnLogin">Login</button>
                }
            </div>
        </div>

    </div>
</div>