@model Telefon_Rehberi.Areas.Admin.Models.Giris.GirisViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-6 mx-auto text-left">
        @if (TempData["Alert"] != null)
        {
            @Html.Raw(TempData["Alert"].ToString())
        }
        <!-- form card login -->
        <div class="card rounded-0">
            <div class="card-header">
                <h3 class="mb-0">AdminUI</h3>
            </div>
            <div class="card-body">
                @using (Html.BeginForm("Index", "Giris"))
                {
                    <div class="form-group">
                        <label for="uname1">Şifre</label>
                        @Html.TextBoxFor(model => model.Pass, new {@class = "form-control form-control-lg rounded-0 col-md-12", type="password", name = "pass", id = "pass", placeholder="Şifre", /*autocomplete = "new-password",*/ required = ""})
                        <div class="invalid-feedback">Oops, you missed this one.</div>
                    </div>
                    <div>
                        <span class="custom-control-description small text-dark">Şifre: <i>bgoktugozdemir</i></span>
                    </div>
                    <button type="submit" class="btn btn-success btn-lg float-right" id="btnLogin">Login</button>
                }
            </div>
            <!--/card-block-->
        </div>
        <!-- /form card login -->
    </div>

</div>