@model Telefon_Rehberi.Models.Home.ShowHomeViewModel
@{
    Layout = null;
}

<div class="modal-body">
    <div class="modal-header" style="text-align:left"> <h4><b style="color:dimgray">Site Listesi</b></h4></div>
    <div class="panel-body">
        <strong>İçeriklerin transfer ettiğiniz sitelerde pasif durumda olacağını ve aktif hale getirmeniz gerektiğini unutmayın.</strong>
        <br /><br />

        <div id="Calisan" class="col-md-6 col-sm-12">
            <div class="panel panel-primary">
                <div class="panel-heading">Siteler</div>
                <div class="panel-body">
                    <table class="site-table table">
                        <tr>
                            <th>ID</th>
                            <th>AD SOYAD</th>
                            <th>TELEFON</th>
                        </tr>
                        
                        <tr>
                            <td>@Model.Calisan.ID</td>
                            <td>@Model.Calisan.Ad @Model.Calisan.Soyad</td>
                            <td>@Model.Calisan.Telefon</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>